//Colors
$color-white: #fff;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-med-1: #999;
$color-gray-med-2: #777;
$color-gray-dark: #333;
$color-black: #000;


//Grid variables

//Font sizes
$default-font-size: 1.6rem;