<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen Calc (Zesty/Cooking Buddy)</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar__container">
            <li class="navbar__item"><a href="#">Home</a></li>
            <li class="navbar__item"><a href="#">About</a></li>
        </ul>
    </nav>