<%- include("partials/header"); -%>

<section class="section-title">
  <h1>Kitchen Calc</h1>
  <h2>Your handy ingredient list calculator/converter</h2>
  <h2>No more mental kitchen math!</h2>
</section>

<section class="section-introduction">
  <h2>How It Works</h2>
  <p>
    Just paste the recipe URL, input your desired servings and press convert
    quantities. It's cooking time!
  </p>
</section>

<section class="section-form centerhv">
    
  <form action="/" method="POST">
    <div class="form-item">
      <label for="url">Website URL: </label>
      <input
        type="url"
        id="url"
        name="url"
        placeholder="Recipe URL"
        required
        autofocus
      />
    </div>
    <div class="form-item">
      <label for="servingsOld">How many original servings?</label>
      <input
        type="number"
        id="servingsOld"
        name="servingsOld"
        required
        class="input-number"
      />
    </div>
    <div class="form-item">
      <label for="servingsNew">How many servings do you want?</label>
      <input
        type="number"
        id="servingsNew"
        name="servingsNew"
        required
        class="input-number"
      />
    </div>

    <button type="submit" class="btn btn--adjust">Convert!</button>
  </form>
</section>

<%- include("partials/footer"); -%>
