*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* this defines what 1rem is */
    font-size: 62.5%;
    /* 1 rem = 10 px, 10/16px = 62.5% */
}

.centerhv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    box-sizing: border-box;
    /* background-color: #f2d1b6; */
    background: url("../images/free-kitchen-pattern-vector-seamless.png") rgba(100, 100, 100,0.2);
    background-blend-mode: multiply;
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    /* text-align: center; */
}

.content-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.navbar {
    background-color: #FF866C;
}

.navbar__container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar__item {
    margin: 1rem;
}

.navbar__link {
    text-decoration: none;
    color: #fff;
}


h1 {
    color: #FF866C;
    font-size: 5rem;
    font-family: feltro-normal, sans-serif;
}

h2 {
    text-align: center;
    font-family: Merriweather, serif;
    margin-bottom: 2rem;
}

/*~~~~~~~~~~~~~~~~~~ TITLE CARD ~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.section-title {
    margin: 2rem auto 1rem;
    max-width: 50%;
    width: 50%;
    background-color: #FFEAD9;
    box-shadow: 0 7px 20px #A6866C;
    border-radius: 10px;
    padding: 3rem 5rem 5rem;
}

.title__title {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 1rem;
}

/*~~~~~~~~~~~~~~~~~~~~~~ CENTER CARD ~~~~~~~~~~~~~~~~~~~~~*/

.section-form {
    margin: 0 auto;
    max-width: 50%;
    background-color: #FFEAD9;
    box-shadow: 0 7px 20px #A6866C;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* height: 500px; */
    font-size: 2rem;
    border-radius: 10px;
    padding: 5rem;
}
/* ~~~~~~~~~~~~~~~~~ HOW IT WORKS SECTION ~~~~~~~~~~~~~~~~~~~*/
.howitworks__title {
    text-align: left;
}

.howitworks__text {
    margin-bottom: 2rem;
}

/* ~~~~~~~~~~~~~~~~~ FORM SECTION ~~~~~~~~~~~~~~~~~~~*/
.form__title {
    text-align: left;
}

.form-container {
    flex: 0 1 auto;
}

.form-item {
    text-align: left;
    display: inline-block;
    margin-bottom: 1rem;
}
/* 
.form-item:not(:first-child) {
    margin: 2rem 0;
}  */

.btn {
    padding: 1rem 2rem;
    background-color: #FF866C;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 2px 5px #A6866C;
}

input {
    height: 3rem;
    margin-left: 1rem;
    padding-left: 0.2rem;
}

.input-number {
    max-width: 60px;
}

/* ~~~~~~~~~~~~~~~~~ RESULTS SECTION ~~~~~~~~~~~~~~*/
.flex-container {
    display: flex;
    align-items: flex-start;
    justify-content:space-evenly;
}

.results__container {
    /* display: flex; */
    flex: auto;
    /* width: 50%; */
    /* display: inline-block; */
}

/* ~~~~~~~~~~~~~~~~~~ RESULTS PAGE ~~~~~~~~~~~~~~~~~~~~~~*/
.section-results {
    /* height: 60vh; */
    width: 800px;
    margin: 2rem auto;
    /* max-width: 50%; */
    background-color: #FFEAD9;
    box-shadow: 0 7px 20px #A6866C;
    border-radius: 10px;
    padding: 5rem;
    background-color: antiquewhite;
    
}

.results__h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.results__title {
    margin-bottom: 1rem;
    text-align: left;
    padding-left: 2rem;
    font-family: 'Merriweather', serif;
}

.results__list {
    height: 500px;
    background-color: #fff;
    /* list-style: none; */
    list-style-position: outside;
    padding: 2rem;
    padding-left: 4rem;
}


.results__container--old {
    margin-right: 1rem;
    color: #666666;
}


/*~~~~~~~~~~~~~~~~~~~ FOOTER SECTION ~~~~~~~~~~~~~~~~~~~*/
footer {
    bottom: 0;
    width: 100%;
}

.footer-container {
    background-color: #FF866C;
    padding: 2rem;
}

