*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* this defines what 1rem is */
  font-size: 62.5%;
  /* 1 rem = 10 px, 10/16px = 62.5% */
}

.centerhv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  box-sizing: border-box;
  background-color: #ffead9;
  background: url("../images/free-kitchen-pattern-vector-seamless-beige.png");
  background-size: 25%;
  position: relative;
  width: 100%;
  height: 100vh;
}

@media (max-width: 600px) {
  body {
    background-size: 40%;
  }
}

.content-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
}

@media (max-width: 600px) {
  .linebreak {
    display: block;
  }
}

h1 {
  color: #fff;
  font-size: 6rem;
  font-family: feltro-normal, sans-serif;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }
}

h2 {
  text-align: center;
  font-family: Merriweather, serif;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

.h2--white {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .h2--white {
    font-size: 1.5rem;
  }
}

.intro--math {
  margin-bottom: 2rem;
}

body {
  font-family: 'Lato', sans-serif;
  color: #301914;
  font-size: 1.7rem;
}

@media (max-width: 768px) {
  body {
    font-size: 1.5rem;
  }
}

.navbar {
  background-color: #ff866c;
  width: 100%;
}

.navbar__container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
}

.navbar__item {
  margin: 1rem;
}

.navbar__link {
  text-decoration: none;
  color: #fff;
}

/*~~~~~~~~~~~~~~~~~~ TITLE CARD ~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.title__wrapper {
  margin-bottom: 3rem;
  padding: 2.5rem 0 2.5rem;
  background-color: #ff866c;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title__title {
  text-align: center;
  margin-bottom: 1rem;
}

/*~~~~~~~~~~~~~~~~~~~~~~ CENTER CARD ~~~~~~~~~~~~~~~~~~~~~*/
.section-maincard {
  margin: 3rem auto 1rem;
  max-width: 800px;
  background-color: #ffead9;
  box-shadow: 0 7px 20px #7e6652;
  border-radius: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .section-maincard {
    max-width: 80%;
    margin-top: 2rem;
  }
}

@media (max-width: 992px) {
  .section-maincard {
    max-width: 85%;
    margin-top: 2rem;
  }
}

.card-padding {
  padding: 0 5rem 5rem;
}

@media (max-width: 768px) {
  .card-padding {
    padding: 0 2.5rem 4rem;
  }
}

/* ~~~~~~~~~~~~~~~~~ HOW IT WORKS SECTION ~~~~~~~~~~~~~~~~~~~*/
.howitworks {
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  .howitworks {
    margin-bottom: 2.5rem;
  }
}

.howitworks__text {
  margin: 0 2rem 2rem;
}

/* ~~~~~~~~~~~~~~~~~ FORM SECTION ~~~~~~~~~~~~~~~~~~~*/
.form-container {
  flex: 0 1 auto;
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  .form-container {
    text-align: center;
    margin-bottom: 2.5rem;
  }
}

.form-align {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .form-align {
    width: 100%;
  }
}

.form-item {
  text-align: left;
  display: inline-block;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .form-item {
    text-align: center;
  }
}

.btn {
  padding: 1rem 2rem;
  background-color: #ff866c;
  border: none;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 2px 5px #a6866c;
  margin: 1rem 0;
  transition: all ease 0.2s;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px #a6866c;
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 5px #a6866c;
  transition: all 0.05s;
}

input {
  height: 3rem;
  margin-left: 1rem;
  padding-left: 0.2rem;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 600px) {
  input {
    max-width: 100%;
  }
}

input:focus {
  box-shadow: 0 0 5px 2px #ff866c;
  outline-color: #ff866c;
  outline-width: 0px;
  border: 0px solid black;
}

.input-number {
  max-width: 60px;
  text-align: center;
}

/* ~~~~~~~~~~~~~~~~~ RESULTS SECTION ~~~~~~~~~~~~~~*/
.flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
}

.results__container {
  text-align: left;
  flex: auto;
}

@media (max-width: 768px) {
  .results__container {
    width: 100%;
  }
}

.results__container--old {
  margin-right: 1rem;
  color: #666666;
}

@media (max-width: 768px) {
  .results__container--old {
    margin-bottom: 1.5rem;
  }
}

.results__title {
  margin-bottom: 1rem;
  text-align: left;
  padding-left: 2rem;
  font-family: 'Merriweather', serif;
}

.results__listwrapper {
  min-height: 250px;
  background-color: #fff;
  padding: 2rem;
}

.results__servings {
  margin-bottom: 2rem;
}

.results__list {
  list-style-position: outside;
  padding-left: 2rem;
}

/*~~~~~~~~~~~~~~~~~~~ FOOTER SECTION ~~~~~~~~~~~~~~~~~~~*/
footer {
  margin-top: 4rem;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.footer-container {
  padding: 4rem 3rem 4rem;
  background-color: #ff866c;
}

.footer__copyright {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .footer__copyright {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .footer__copyright {
    font-size: 1.5rem;
  }
}

.footer__copyright--vecteezy {
  font-size: 0.9rem;
  text-decoration: none;
}

@media (max-width: 600px) {
  .footer__copyright--vecteezy {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=styles.css.map */